@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px){
  .overflow-x-auto{
    overflow: auto
  }
}

@font-face {
  font-family: 'Linebeam';
  src: url('/fonts/Linebeam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
